<div class="col-sm-4"></div>
<div class="col-sm-4">
<h2>Renew your password</h2>


<%= form_for(resource, :as => resource_name, :url => [resource_name, :password_expired], :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="form-group">
	  	<p><%= f.label :current_password, "Old password" %><br />
	  	<%= f.password_field :current_password %></p>
		</div>
	 	
	 	<div class="form-group">
	  	<p><%= f.label :password, "New password" %><br />
	  	<%= f.password_field :password %></p>
		</div>
	 
	 	<div class="form-group">
		  <p><%= f.label :password_confirmation, "Confirm new password" %><br />
	  	<%= f.password_field :password_confirmation %></p>
		</div>
	 	
	 	<div class="form-group">
	  	<p><%= f.submit "Change my password" %></p>
	  </div>

	<% end %>
</div>

<div class="col-sm-4"></div>